<mat-toolbar color="primary" style="height:40px;">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Currency Trading</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="isAuth">
        <a routerLink="/currency-converter">Converter</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/signup">Signup</a>
      </li>
      <li>
        <span>|</span>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/currency-trading">Trading</a>
        <span> |</span>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/order-book">Order Book</a>
        <span> |</span>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/Market-Watch">Market Watch</a>
        <span> |</span>
      </li>      
      <li *ngIf="isAuth">        
        <button mat-button [matMenuTriggerFor]="menu" style="font-size: 19px;">Chart</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/compare-Chart">Comparison</button>
          <button mat-menu-item routerLink="/exchange-Chart">Historical Chart</button>
        </mat-menu>
        <span>|</span>
      </li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
