<section>

  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" formControlName="email">
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password" formControlName="password" required minlength="6">
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher"> 
      <mat-error *ngIf="resetPasswordForm.hasError('notSame', 'passwords')">
        Passwords do not match
      </mat-error>      
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="resetPasswordForm.invalid">Submit</button>
  </form>
    
  </section>