<section>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
    <mat-card>
        <form (ngSubmit)="onCurrencyBooking(f,$event,'submit')" #f="ngForm">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field appearance="fill">
                    <mat-label>Forex</mat-label>
                    <mat-select ngModel name="currency" [(ngModel)]="orderBook.currencyName" required
                        (selectionChange)="onForexSelectionChanged($event)">
                        <mat-option *ngFor="let currency of currencylist" [value]="currency.currencyDescription">
                            {{currency.currencyName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Currency Rate" ngModel name="currentRate"
                        [(ngModel)]="orderBook.currentRate" type="number" min="0" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Position" ngModel name="position"
                        [(ngModel)]="orderBook.position" type="number" min="0" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Unit" type="number" min="0" ngModel name="unit"
                        [(ngModel)]="orderBook.unit" required>
                </mat-form-field>

                <mat-form-field>
                    <input type="text" matInput placeholder="Total Amount" ngModel name="totalAmount"
                        [(ngModel)]="orderBook.totalAmount" disabled>
                </mat-form-field>


                <mat-button-toggle-group>
                    <mat-button-toggle value="action-buy"><button mat-raised-button color="accent" id="action-buy"
                            type="button" (click)="onCurrencyBooking(f,$event,'orderType')">Buy</button>
                    </mat-button-toggle>
                    <mat-button-toggle value="action-cell"><button mat-raised-button color="warn" id="action-cell"
                            type="button" (click)="onCurrencyBooking(f,$event,'orderType')">Sell</button>
                    </mat-button-toggle>
                </mat-button-toggle-group>

            </div>
            <br />
            <div fxLayout="center" fxLayoutAlign="center center">
                <div class="font-weight-bold"
                    [ngClass]="{'text-success': isProfit == true,'text-danger': isProfit == false }"> (Currenct Rate -
                    Postion) * Unit = {{totalAmount | number : '1.2-2'}} </div>
            </div>
            <br />
            <mat-card-actions fxLayout="center" fxLayoutAlign="center center">
                <button mat-flat-button color="primary" type="submit">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>
