.bg{ 
    height:42em; background-size:cover; width:auto;min-height: auto;
    color: #fff;background-image: url("../assets/image/istockphoto.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

