<section>
  <mat-card>
    <form #f="ngForm">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field appearance="fill">
          <mat-label>Select Currency Exchange</mat-label>
          <mat-select (selectionChange)="onCurrencyMultipleSelection($event.value)" multiple>
            <mat-option value="USDINR">USD/INR</mat-option>
            <mat-option value="USDJPY">USD/JPY</mat-option>
            <mat-option value="USDEGP">USD/EGP</mat-option>
            <mat-option value="USDHKD">USD/HKD</mat-option>
          </mat-select>
          <!-- <mat-select ngModel name="currency"
                  (selectionChange)="onCurrencySelection($event.value)"
                   required>
                      <mat-option *ngFor="let currency of currencylist"
                      [value]="currency.currencyDescription">
                          {{currency.currencyName}}</mat-option>
                  </mat-select> -->
        </mat-form-field>
      </div>
      <br />
    </form>
  </mat-card>
</section>
<section>
  <mat-card>
    <google-chart #chart [title]="title" [data]="data" [type]="typeNm" [columns]="columnNames" [options]="options"
      [width]="width" [height]="height">
    </google-chart>
  </mat-card>
</section>